.App {
  min-height: 100vh;
}

/* Own Styles */

/* Header */
.headerBG,
.recipeBG {
  background: #ad5389;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.recipeBG {
  color: white;
}

.recipeBG hr {
  border: 1px solid white;
}


.headerBG {
  padding: 8%;
}

.headerBG>h1 {
  color: white;
  margin-bottom: 20px;
}

.jumbotron {
  border-radius: none !important;
}

.search-button {
  float: left;
  margin-top: 20px;
}

/* Content Areas */
.recipeAreas {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.recResIngredients {
  text-align: left;
}


/* Spinner */
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Footer*/
.footerBar {
  height: 4rem;
}

.footerContainer>* {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h6.text-muted {
  font-weight: 900;
}

/* Recipe Detail page */
.digestBtn:not(:first-child),
.nutrientBtn:not(:first-child) {
  margin-left: 10px;
}

.digestBtn,
.nutrientBtn {
  margin-bottom: 10px;
}

.recipeHeading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Miscel styles */